<h1>投稿編集</h1>

<%= form_for(@history) do |f| %>

  <div class="clearfix">
    <div class="pull-right">

      <h4><%= f.submit '登　録' , class:"btn btn-success"%></h4>

      <h4><%= link_to "削　除", history_path(@history.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger"%></h4>

    </div>
  </div>

　<h3>写真</h3>
  <% if @history.history_images.present? %>
      <% @history.history_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>
    <% else %>
        <%# <%= image_tag 'no_image.jpg', size: '200x200' %>
    <% end %>

<div class="clearfix">

  <h4>内容</h4>
  <%= f.text_area :body %>

  <div>
  <h4>合計</h4>
  <%= f.text_field :price %>
  </div>



</div>
<% end %>
