<%# <div class="row">
 <div class="col-xs-7 col-xs-offset-2 "> %>



  <h1>投稿詳細</h1>

  <div class="clearfix">
    <div class="pull-right">
      <%= link_to "編 集 す る", edit_history_path(@history.id), class:"btn btn-info" %>
    </div>
  </div>

  <h2>画像</h2>

    <% if @history.history_images.present? %>

      <% @history.history_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100 %>
      <% end %>

    <% else %>
        <%# <%= image_tag 'no_image.jpg', size: '200x200' %>
    <% end %>

    <div class="clearfix">
      <div>
        <p>内容</p>
        <p><%= @history.body %></p>
      </div>

      <div class="pull-right">
        <label>合計</label>
          <%= @history.price %>
      </div>
    </div>
  </div>
</div>
